<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <logger name="hnlog">
      <level value="ALL"/>
      <appender-ref ref="info"/>
      <appender-ref ref="error"/>
      <appender-ref ref="console"/>
    </logger>
    <appender name="error" type="log4net.Appender.RollingFileAppender">
      <file value="HNLog\\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMM\\yyyy-MM-dd'_ERROR.log'" />
      <staticLogFileName value="false" />
      <param name="MaxSizeRollBackups" value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%thread]：%date %n%message%newline %n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <appender name="info" type="log4net.Appender.RollingFileAppender">
      <file value="HNLog\\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMM\\yyyy-MM-dd'_INFO.log'" />
      <staticLogFileName value="false" />
      <param name="MaxSizeRollBackups" value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%thread]：%date %n%message%newline %n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="WARN" />
      </filter>
    </appender>
    <appender name="console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%thread]：%date %n%message%newline %n"/>
      </layout>
    </appender>
  </log4net>
</configuration>